body{
    background-image: url('../images/fight-bk.jpg');
    font-family: 'Shadows Into Light', cursive;
}

img{
    width: 150px;
    height:200px;
    cursor:pointer; 
}

.div-height {
    height: 5rem;
}

#btn-abt-attack {
    visibility: hidden;
}


