body{
    background-image: url('../images/fight-bk.jpg');
    font-family: 'Shadows Into Light', cursive;
}

img{
    width: 150px;
    height:200px;
    cursor:pointer; 
}

.div-height {
    height: 8rem;
}

.row{
    font-family: 'Shadows Into Light', cursive;
    font-size:30px;
}

#btn-abt-attack,#btn-choose-new {
    visibility: hidden;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
}

#game-commentary{
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
}


